/* all */

* {
  margin: 0px;
  padding: 0px;
}

.section-title {
  font-size: 55px;
  font-weight: bold;
  text-align: center;
}

.partition {
  height: 50px;
  border: 1px solid #000;
}

a {
  color: #000;
  font-weight: bold;
}
/* nav */

.navbar-dark {
  background-color: #777777;
}

.navbar-brand {
  font-size: 30px;
}

/* profile*/

#profile-container {
  background-image: url("./images/star-around.jpg");
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;

}

.container-cover {
  background-size: cover;
  background-color: rgba(225,225,225,0.2);
}

#profile-container p {
  color: #FFF;
}

img#hedgehog {
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  border: 1px solid #000;
  height: 200px;
  width: 200px;
}

.name {
  font-size: 27px;
  font-weight: bold;
  text-align: center;
}

/*skill*/


div.navbar-header {
  display: flex;
  background-color: rgba(0,0,0,0.7);
  height: 60px;
  border-bottom: 5px groove #808080;

}

div.navbar-left {
  flex-basis: 30%;
  margin: auto;
  display: flex;
  justify-content: center;

}

p.navbar-left-text {
  font-size: 25px;
  font-family: 'Impact', 'Arial Black', sans-serif;
  color: #fff;
}

ul.navbar-right {
  margin: auto;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

ul.navbar-right a {
  text-decoration: none;
  color: #fff;
}

ul.navbar-right li {
  margin: 5px;
}

.nav-item {
  float: left;
  text-align: center;
  width: 70px;
  font-size: 17px;
  font-family: sans-serif;
}

/*  home  */

div.container-home {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/star-around.jpg");
  background-size: cover;
}

div.cover-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(225,225,225,0.2);
}

div.home-title {
  margin-bottom: 40px;
}

div.home-title h1 {
  font-size: 60px;
  color: #FFF;
}


div.home-main {
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.img-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}



div.myName p {
  font-weight: bold;
  font-size: 27px;
  margin-top: 10px;
  color: #FFF;
}


div.main-text {
  margin-left: 50px;
}


ul.self-introduction {
  margin-left: 30px;
  line-height: 2em;
}

ul.self-introduction li {
  font-size: 20px;
  color: #FFF;
}

div.main-text p {
  font-size: 20px;
  color: #FFF;
}

/* skill */

div.container-skills {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px 5px #FFF;

}

div.skill-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

}

div.skill-title {
  margin-bottom: 50px;
}

div.skill-title h1 {
  font-size: 60px;
}

table.programming-experience {
  opacity: 1;
  box-shadow: 1px 1px 5px 1px #999;
  text-align: center;
  margin: 40px;
  border-radius: 1%;
  background-color: #FFF;
  width: 90%;
}

table.conference-experience {
  opacity: 1;
  box-shadow: 1px 1px 5px 1px #999;
  text-align: center;
  margin: 40px;
  border-radius: 1%;
  background-color: #FFF;
  width: 90%;
}

tbody th, tbody td {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 50px;

}

thead th {
  font-size: 20px;
  padding-bottom: 20px;
}

/*project*/

div.container-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
}

div.project-title {
  margin-bottom: 80px;
}

div.project-title h1 {
  font-size: 60px;
}

div.project-main {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

figure.project-box {
  width: 35%;
  height: 400px;
  background-color: #f5f5f5;
  box-shadow: 1px 1px 5px 1px #999;
}

figure.project-box img {
  height: 250px;
  width: 100%;
}

figcaption {
  text-align: center;
}

figcaption * {
  font-size: 0.9em;
  margin: 15px 0px;
}

figcaption a {
  text-decoration: none;
}

/*contact*/

div.container-contact {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

div.contact-main {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.contact-title h1 {
  font-size: 60px;
  margin-bottom: 60px;
}

div.contact-main a {
  font-size: 30px;
  text-decoration: none;
}

img#twitter-hedgehog {
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  border: 1px solid #000000;
  height: 130px;
  width: 130px;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
  background-color: rgba(0,0,0,0.7);
}

footer p {
  font-size: 13px;
  color: #c0c0c0;
}

footer a {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  color: #FFF;
}
