* {
  margin: 0px;
  padding: 0px;
}

div.navbar-header {
  display: flex;
  background-color: rgba(0,0,0,0.7);
  height: 60px;

}

div.navbar-left {
  flex-basis: 30%;
  margin: auto;
  display: flex;
  justify-content: center;

}

p.navbar-left-text {
  font-size: 25px;
  font-family: 'Impact', 'Arial Black', sans-serif;
  color: #fff;
}

ul.navbar-right {
  margin: auto;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

ul.navbar-right a {
  text-decoration: none;
  color: #fff;
}

.nav-item {
  float: left;
  text-align: center;
  width: 70px;
  font-size: 17px;
  font-family: sans-serif;
}

/*  home  */

div.container-home {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/star-around.jpg");
  background-size: cover;
  box-shadow: 0 2px 5px 5px #999;
}

div.cover-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(225,225,225,0.2);
}

div.home-title {
  margin-bottom: 40px;
}

div.home-title h1 {
  font-size: 60px;
  color: #FFF;
}


div.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.img-and-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img#hedgehog {
  border-radius: 50%;
  box-shadow: 0px 0px 10px;
  border: 1px solid #000;
  height: 170px;
  width: 170px;
}

div.myName p {
  font-weight: bold;
  font-size: 27px;
  margin-top: 10px;
  color: #FFF;
}


div.main-text {
  margin-left: 50px;
}


ul.self-introduction {
  margin-left: 30px;
  line-height: 2em;
}

ul.self-introduction li {
  font-size: 20px;
  color: #FFF;
}

div.main-text p {
  font-size: 20px;
  color: #FFF;
}

/* skill */

div.container-skills {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px 5px #999;

}

div.skill-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

}

div.skill-title {
  margin-bottom: 50px;
}

div.skill-title h1 {
  font-size: 60px;
}

table.programming-experience {
  box-shadow: 1px 1px 5px 1px #999;
  text-align: center;
  margin: 40px;
  border-radius: 1%;
  background-color: #FFF;
  width: 90%;
}

table.conference-experience {
  box-shadow: 1px 1px 5px 1px #999;
  text-align: center;
  margin: 40px;
  border-radius: 1%;
  background-color: #FFF;
  width: 90%;
}

tbody th, tbody td {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 50px;

}

thead th {
  font-size: 20px;
  padding-bottom: 20px;
}
